{% include "base.html" %}
<title>About us</title>
<!-- Cufon START  -->
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon-yui.js"></script>
<script src="{{ STATIC_URL }}js/GeosansLight_500.font.js" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('.logo', { fontFamily: 'GeosansLight' });
Cufon.replace('h1', { fontFamily: 'GeosansLight' });
Cufon.replace('h2', { fontFamily: 'GeosansLight' });
Cufon.replace('.pages_banner', { fontFamily: 'GeosansLight' });
</script>    
<!-- Cufon END  -->
</head>
<body>
<div id="main_container">        
	<div class="header">

            <a href="/"><div class="logo"></div></a>
            <div class="slogan">| solutions</div> 
        
			<div class="header_socials">
            <a href="#"><img src="{{ STATIC_URL }}images/rss.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/facebook.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/linkedin.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/twitter.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/flickr.png" alt="" title="" border="0" /></a>
            </div>

    </div> <!--end of header--> 
    
    <div class="menu">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Services<!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
            <li><a href="" title="">Webdesign</a></li>
            <li><a href="" title="">Programming</a></li>
            <li><a href="" title="">Development</a></li>
            <li><a href="" title="">Coding</a></li>
            </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        <li><a href="">Portfolio</a></li>
        <!--<li><a href="">Testimonials</a></li>-->
        <li><a href="/about">About Us<!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
            <li><a href="/about" title="">Out Team</a></li>
            <li><a href="/about" title="">Departments</a></li>
            <li><a href="/about" title="">Locations</a></li>
            </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        
        <li><a href="/blog/{{ dataBlog.id }}/">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/development">Development</a></li>
        </ul>
    </div>
         
         
         
		<div class="center_content_pages">
        	<div class="pages_banner">

                <div id="nameBanner">
                        More details about us
                </div>    
                {% if name %}
                <div id="loguer">
                    Hola {{ name }}! <button id="logOutButton" value="/logout/about"  >Salir</button>
                </div> 
                {% endif %}

            </div>
        	<div class="left_content"> 
                       
                <div class="box290">
                <h2>Subpages</h2>
                    <ul class="left_menu">
                        <li><a href="about.html" title="">Out Team</a></li>
                        <li><a href="about.html" title="">Departments</a></li>
                        <li><a href="about.html" title="">Locations</a></li>
                    </ul>
                </div>
                
                <div class="box290">
                  <h2>From the Blog</h2>
                    <div class="news_box">
                        <div class="date">15.10.2011</div>
                        <h3><a href="#">Lore ipsum doloer ametis</a></h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                    </div>
                    <div class="news_box">
                        <div class="date">08.10.2011</div>
                        <h3><a href="#">Lore ipsum doloer ametis</a></h3>
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                        </p>
                    </div>               
                </div>
            </div> <!--end of left content-->
            
            
            <div class="right_content">
              <h2>Sed do eiusmod tempor incididunt ut</h2>
              		<img src="{{ STATIC_URL }}images/pages.jpg" alt="" title="" border="0" class="pages_pic" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    <br /><br />
                    Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
            </div>
            
            
            
        <div class="clear"></div>
        </div>  
         
        
        
        
<div class="footer">
    <div class="copyrights">
    Free CSS Template by <a href="http://csstemplatesmarket.com" target="_blank">Css templates market</a>
    </div>
    <div class="footer_right">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact Us</a>
    </div>
    <div class="clear"></div>
</div>

</div> <!--end of main container-->
    
    

</body>
</html>