{% extends "base.html" %}

{% block title %}Enviar Correo Masivo{% endblock %}
{% block content %}

<script type="text/javascript">
$(function(){
	$('.datepicker').datepicker({'format':'yyyy-mm-dd'});
})	
</script>

<div class="well">
	<h5>Activar Premium</h5>
	<form action="{% url 'administration:activatepremium' %}" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div>

{% endblock %} 