{% extends "development.html" %} 


<!-- {% block hierarchy %}  
	{{ category }} {% block hierarchySpecific %} {% endblock %} 
{% endblock %} -->

{% block contentBots %}  
<!-- <a name="beginBots"></a>   -->
<div class="row">		
	<div class="span11"> 
	  <a href="{% url 'administration:specificBot' 'perfectAimBot' %}#beginSpecifBot" style="text-decoration: none"> 
		  <div class="b-green home-product" style="cursor: pointer">
		    <div class="home-prod-img" id="s1" > 
		        <img src="{{ STATIC_URL }}img/photos/angulodragonbound.png" style="height:150px" />
		        <!-- <img src="{{ STATIC_URL }}img/photos/s2.jpg" />
		        <img src="{{ STATIC_URL }}img/photos/s3.jpg" /> -->
		    </div>
		    <h3>Perfect Aim Bot (Dragon Bound)</h3>
		    <p>Este bot esta desarrollado para un tiro perfecto en contra de tu adversario, con el cual podras obtener los mejores disparos ...</p>
		    <br>
		    <h3>Click Aqui! para saber mas ...</h3>
		    <div class="clearfix"></div>
		  </div>
		</a>
		<hr/>	

	</div>

	<div class="span11" style="cursor: pointer" data-toggle="modal" data-target="#myModal"> 
	 <!--  <a href="{% url 'administration:specificBot' 'quickRoomBot' %}#beginSpecifBot" style="text-decoration: none;">  vhen this part be abailable uncomment "a"-->
		  <div class="b-green home-product" style="cursor: pointer">
		    <div class="home-prod-img" id="s1" > 
		        <img src="{{ STATIC_URL }}img/photos/dragonBoundRoom.png" style="height:150px"/>
		        <!-- <img src="{{ STATIC_URL }}img/photos/s2.jpg" />
		        <img src="{{ STATIC_URL }}img/photos/s3.jpg" /> -->
		    </div>
		    <h3>Quick Room Bot (Dragon Bound)</h3>
		    <p>Este es un bot desarrollado para poder entrar a salas bajas y poder jugar rapidamente sin tener que esperar a que tu sala este llena en las salas mas altas ... </p>
		    <br>
		    <h3>Click Aqui! para saber mas ...</h3>
		    <div class="clearfix"></div>
		  </div>
		<!-- </a> -->
		
	</div>

	
	<!--(S)by the moment-->	

	<!--(S)-modal-->

		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">AVISO : </h3>
			</div>
			<div class="modal-body">
				<div class="span6">

				<!-- <a href="#" style="text-decoration: none"> -->
			        <div class="" style="cursor: pointer">
			          <div class="service">
			            <div class="b-red serv-block" style="cursor: pointer">
			              <i class="icon-warning-sign"></i>
			              <h3>Disculpa, en pocos dias estara habilitado este bot. </p>
			              </h3>
			            </div>
			              	<p>Si estas registrado, podremos avisarte a tu correo sobre las novedades 
			              		de este bot.</p>				            
			            		Revisas nuestros videos: 
			              	<p><a class="b-green serv-block" target="_blank" href="http://www.youtube.com/watch?v=Pc1tbOKshEc">http://www.youtube.com/watch?v=189tknCZ3KQ</a>
			          </div>
			        </div>
		        <!-- </a> -->

		        
		      </div>
		      <div class="clearfix"></div>
					 
			</div>
			
		</div>
	<!--(E)modal-->				

	<!--(E)by the moment-->
	

</div>
{% endblock %}