<iframe id="dialog-modal"  title="Crear un nuevo usuario en Ninjax" src="/register/{{ myPlace }}" >
  <p>Your browser does not support iframes.</p>
</iframe>
<iframe id="dialog-modal-login"  title="Logueate en  Ninjax" src="/login/{{ myPlace }}" >
  <p>Your browser does not support iframes.</p>
</iframe>            

<button id="create-user" >Crea un nuevo usuario</button>
<button id="buttonLoguin" >Logueate</button>