{% extends "base.html" %}

{% block content %}
<style type="text/css">
.form-medium .control-label {
    width: 180px;
}
.form-medium .controls {
    margin-left: 200px;
}
</style>
<h2><i class="icon-key"></i> Cambiar mi contraseña</h2>
<p class="big grey">Crear una nueva contraseña para mi cuenta.</p>

<hr />


<div class="row">
	<div class="span8">
		<div class="well">
			<form  class="form-horizontal form-medium" method="post" name="form_newpassword"> {% csrf_token %} <!--if don't existe action reload in the same page-->
				{{ form.username }}
				{% if form.non_field_errors %}
				<div class="alert alert-block"> 
					{{ form.non_field_errors }}
				</div>
				{% endif %}
				<label class="control-label">Antigua Contraseña</label>
				{% if form.old_password.errors %}
				<div class="control-group error">
				{% else %}
				<div class="control-group">
				{% endif %}
					<div class="controls">{{ form.old_password }}</div>
				</div>
			
				<label class="control-label">Nueva Contraseña</label>
				{% if form.new_password.errors %}
				<div class="control-group error">
				{% else %}
				<div class="control-group">
				{% endif %}
					<div class="controls">{{ form.new_password }}</div>
				</div>
			
				<label class="control-label">Reescribe Nueva Contraseña</label>
				{% if form.retype_new_password.errors %}
				<div class="control-group error">
				{% else %}
				<div class="control-group">
				{% endif %}
					<div class="controls">{{ form.retype_new_password }}</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Continuar</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}