{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<style type="text/css">
	.center {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
</style>

<div class="row center">
	<div class="span12">
		
        <div class="well c-soon">
            <!-- <p class="soon-med">We are on the way...</p>     -->
            <h3 id="myModalLabel">Términos y Condiciones</h3>                    
            <p>Ninjax Solutions protege tu compra de PerfectAimbot, dándole seguridad en:</p>
			<ol>
				<li>En caso de que el bot deje de funcionar por causas de nuestro servidor o alguna actualización de dragonbound, estos días se le repondrán(aumentaran) a su tiempo de compra.</li>
				<li>En caso deje de funcionar PerfectAimbot permanentemente, se le repondrá su pago en relación a los días restantes en otra aplicación o dinero.</li>
				<li>Sus cuentas de NinjaxSolutions y compras son protegidas, pero no nos responsabilizamos si ustedes entrega esos datos a otras personas y estos modifican sus contraseñas.</li>
				<li>Las cuentas Free solo funcionan una única vez con una determinada cuenta de dragonbound y ya no podrá ser usado en otra cuenta Free a futuro.</li>
				<li>Las cuentas Premium son mas seguras, y tienen soporte a cualquier necesidad vía ninjaxcompany@gmail.com</li>
			</ol>
                       
        </div>

    </div>
	
</div>
{% endblock %}
