{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<style type="text/css">
	.center {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
</style>
<script type="text/javascript">
	
	window.setTimeout(function() 
	{
		window.location.href = 'http://www.ninjaxsolutions.com/profile/';
	}, 5000);
	
</script>

<div class="row center">
	<div class="span12">
		<div class="well c-soon">
			<!-- <img src="{{ STATIC_URL }}images/main.png"></img> -->
			<p class="soon-big"><i class="icon-warning-sign"></i><p>
			<p class="soon-big">Tu compra fue corrrectamente realizada.</p>
			<p class="soon-big">Te estamos redireccionando a tu Perfil.</p>
			<p><img src="{{ STATIC_URL }}img/loader.gif"></p>
			<!-- <p class="soon-med">Dragonbound</p>
			<p class="soon-small">*Para usar el bot es necesario tener una cuenta en ninjax</p> -->
		</div>		
		<!-- <div class="row center">
			<a class="btn btn-large btn-primary" href="javascript:urlDowload();"><i class="icon-download"> </i> Descargar</a>
			<a class="btn btn-large btn-info" href="{% url 'administration:signup' %}"><i class="icon-leaf"> </i> Registrarse </a> 
			{# <a class="btn btn-large btn-success" href="#"><i class="icon-money"> </i> Comprar </a>  #}
		</div> -->
	</div>
</div>
{% endblock %}