{% include "base.html" %}

<title>Contact us</title>
<!-- Cufon START  -->
<script type="text/javascript" src="{{ STATIC_URL }}js/cufon-yui.js"></script>
<script src="{{ STATIC_URL }}js/GeosansLight_500.font.js" type="text/javascript"></script>
<script type="text/javascript">
Cufon.replace('.logo', { fontFamily: 'GeosansLight' });
Cufon.replace('h1', { fontFamily: 'GeosansLight' });
Cufon.replace('h2', { fontFamily: 'GeosansLight' });
Cufon.replace('.pages_banner', { fontFamily: 'GeosansLight' });

</script>   
<!-- Cufon END  -->
</head>
<body>
<div id="main_container">

        
	<div class="header">

            <a href="/"><div class="logo"></div></a>
            <div class="slogan">| solutions</div> 
            
			<div class="header_socials">
            <a href="#"><img src="{{ STATIC_URL }}images/rss.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/facebook.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/linkedin.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/twitter.png" alt="" title="" border="0" /></a>
            <a href="#"><img src="{{ STATIC_URL }}images/flickr.png" alt="" title="" border="0" /></a>
            </div>

    </div> <!--end of header--> 
    
    <div class="menu">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Services<!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
            <li><a href="" title="">Webdesign</a></li>
            <li><a href="" title="">Programming</a></li>
            <li><a href="" title="">Development</a></li>
            <li><a href="" title="">Coding</a></li>
            </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        <li><a href="">Portfolio</a></li>
        <!--<li><a href="">Testimonials</a></li>-->
        <li><a href="/about">About Us<!--[if IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
            <li><a href="/about" title="">Out Team</a></li>
            <li><a href="/about" title="">Departments</a></li>
            <li><a href="/about" title="">Locations</a></li>
            </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
        
        <li><a href="/blog/{{ dataBlog.id }}/">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/development">Development</a></li>
        {% if not instance.is_active %}
        <div id="buttonsRegAlog">     
          {% include "buttonsLoginRegister.html" %} 
        </div>  
        {% else %}
          hola {{ instance.username }} 
        {% endif %}

        </ul>
    </div>
                         
		<div class="center_content_pages">
        	<div class="pages_banner">

                <div id="nameBanner">
                    Get in touch
                </div>    
                {% if name %}
                <div id="loguer">
                    Hola {{ name }}! <button id="logOutButton" value="/logout/contact"  >Salir</button>
                </div>                 
                {% endif %}

            </div>
        	<div class="left_content"> 
                       
                <div class="box290">
                <h2>Subpages</h2>
                    <ul class="left_menu">
                        <li><a href="/about" title="">Out Team</a></li>
                        <li><a href="/about" title="">Departments</a></li>
                        <li><a href="/about" title="">Locations</a></li>
                    </ul>
                </div>
                
                <div class="box290">
                  <h2>What clients say?</h2>
                      <div class="testimonial">
                            <div class="testimonial_quotes">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">John doe - company name</a>
                            </div>
                      </div> 
                      <div class="testimonial">
                            <div class="testimonial_quotes">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">John doe - company name</a>
                            </div>
                      </div>           
                </div>
            </div> <!--end of left content-->

            <div class="right_content">
              <h2>Send a message</h2>
                    <div class="form">

                      <div class="form_row">
                      
                        <label>Name:</label>
                        <input type="text" class="form_input" name="" />
                        </div>
                        
                        <div class="form_row">
                        <label>Email:</label>
                        <input type="text" class="form_input" name="" />
                        </div> 
                        
                        <div class="form_row">
                        <label>Phone:</label>
                        <input type="text" class="form_input" name="" />
                        </div>
                        
                        <div class="form_row">
                        <label>Website:</label>
                        <input type="text" class="form_input" name="" />
                        </div>
                        
                        
                        <div class="form_row">
                        <label>Message:</label>
                        <textarea class="form_textarea" name=""></textarea>
                        </div>
                        
                        <input type="submit" class="form_submit" value="Send" /> 
                    </div>
            </div>
            
            <div class="clear"></div>
        
        </div>  
        
<div class="footer">
    <div class="copyrights">
    NinjaSolutions - 2013(c) All rights reserved 
    </div>
    <div class="footer_right">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Contact Us</a>
    </div>
    <div class="clear"></div>
</div>

</div> <!--end of main container-->
    
    

</body>
</html>