{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

<!-- {% block place %}{{ myPlace }}{% endblock %} -->

{% block content %}

<!-- Image blocks starts -->
<a name="beginBots"></a>
<h2>Categorías</h2>
<div class="row">
			<div class="span12">
				<div class="bor"></div>
				<ul class="hover-block">
					<li>
						<a href="{% url 'administration:bots' %}#beginBots">
							<!-- Image -->
							<img src="{{ STATIC_URL }}img/photos/Bot.jpg" alt="" /> 
							<!-- Content with background color Class -->
							<div class="hover-content b-blue">
								<h6>Bots</h6>
								Procesos automáticos para tus servicios preferidos
							</div>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{{ STATIC_URL }}img/photos/apps.png" alt="" /> 
							<div class="hover-content b-green">
								<h6>Aplicaciones Móviles</h6>
								Aplicaciones simples, para un uso diario.
							</div>
						</a>
					</li>					
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
<!-- Image blocks ends -->
	<hr/>
	
	<div class="row">

		<div class="span12"> 
			 <h2>
					<a href="{% url 'administration:bots' %}">  {{ category }}</a> 
					{% block hierarchySpecific %} {% endblock %}
			 </h2>  <!-- to make hierarchy-->
			 <hr/>
		</div>

	</div>

	<a name="beginSpecifBot"></a> 
	{% block contentBots %} {% endblock %} <!--called by bots.html-->
	{% block contentSpecificBots %} {% endblock %}

	
{% endblock %}


