<!DOCTYPE html>
<html>
	<head>
		<title>DragonRoom Register</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js" ></script>
	</head>
	<body>
		<style type="text/css">
			.container{
				width: 600px;
				padding-left: 20px;
				padding-right: 20px;
				background-color: rgba(255,255,255,0.85);
				-moz-border-radius: 25px;
				border-radius: 25px;
			}
			h2, h1{
				text-align: center;
				font-family: 'Lobster';
				/*font-size: 32px;*/
			}
			body{
				background: url('{{ STATIC_URL }}/images/dragonRoom_back_form.jpeg');
				background-position: -100px;
				background-color: #e7f5f8;
				color: #415469;
				
			}
			.captcha{
				width: 100px;
			}
			.errorlist{
				/*margin-left: 100px;*/
			}
			li{
				color: rgb(212, 63, 58);
				list-style-type: none;
			}
		</style>
		<div class="container">
	  		<h1>DragonRoom Register</h1>
	  		<div class="alert">
				<strong>Take Care</strong> The Account Field is exactly the same as the Dragonbound Account <b>(Just NickName Without Guild)</b>
			</div>
			<form action="/dragonroom/" method="post" class="form-horizontal">{% csrf_token %}
				{{ form.non_field_errors }}
				{% if errors %}
					<h3>hahahaha </h3>
				{% endif %}
				{% for field in user_form %}
		        <div class="form-group">
					<label for="inputEmail" class="col-lg-2 control-label">{{ field.label }}</label>
					<div class="col-lg-10">
					{{ field }}
					{{ field.errors }}
					</div>
		        </div>
			    {% endfor %}			    
			    <div class="form-group">
				    <div class="col-offset-2 col-lg-10">
				      <button type="submit" class="btn btn-default">Save</button>
				    </div>
				</div>
			</form>	
			<hr>
			<h2>Or just Download</h2>
			<p>
				<center>
				<a href="https://dl.dropboxusercontent.com/u/32333708/DragonRoom%20version%200.5.rar" class="btn btn-primary btn-large btn-block btn-download">DragonRoom_v0.5.rar</a>
				</center>
			</p>
			<hr>
		</div>
		<center><script type="text/javascript" src="http://widget.supercounters.com/flag.js"></script><script type="text/javascript">sc_flag(650968,"FFFFFF","000000","cccccc",2,10,0,0)</script><br><noscript><a href="http://www.supercounters.com/">Flag Counter</a></noscript>
		</center>
	</body>
</html>