{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<style type="text/css">
	.center {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
</style>

<!--(S)-modal ALERTTTTT-->

		<div id="alertDownloads" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">AVISO : </h3>
			</div>
			<div class="modal-body">
				<div class="span6">

				<!-- <a href="#" style="text-decoration: none"> -->
			        <div class="" style="cursor: pointer">
			          <div class="service">
			            <div class="b-red serv-block" style="cursor: pointer">
			              <i class="icon-warning-sign"></i>
			              <h3>Disculpa, en pocos momentos las descargas estaran habilitadas</p>
			              </h3>
			            </div>
			              	<p>Si estas registrado, podremos avisarte a tu correo sobre las novedades 
			              		de este bot.</p>				            
			            		Revisas nuestros videos: 
			              	<p><a class="b-green serv-block" target="_blank" href="http://www.youtube.com/watch?v=Pc1tbOKshEc">http://www.youtube.com/watch?v=189tknCZ3KQ</a>
			          </div>
			        </div>
		        <!-- </a> -->

		        
		      </div>
		      <div class="clearfix"></div>
					 
			</div>
			
		</div>
	<!--(E)modal ALERTTTTT-->	

<div class="row center">
	<div class="span12">
		<div class="well b-blue c-soon">
			<img src="{{ STATIC_URL }}images/main.png"></img>
			<p class="soon-big">Perfect Aimbot</p>
			<p class="soon-med">Dragonbound</p>
			<p class="soon-small">*Para usar el bot es necesario tener una cuenta en ninjax</p>
			
		</div>
		<div class="row center" > <!-- put when is bot fix-->
			<a class="btn btn-large btn-primary" href="javascript:urlDowload();"><!--  data-toggle="modal" data-target="#alertDownloads"> -->
				<i class="icon-download"> </i> Descargar</a>
			{% if user.is_authenticated %}
			<a class="btn btn-large btn-info" href="{% url 'administration:specificBot' 'perfectAimBot' %}#beginSpecifBot">
				<i class="icon-money"> </i> Comprar 
			</a> 
			{% else %}
			<a class="btn btn-large btn-info" href="{% url 'administration:signup' %}"><i class="icon-leaf"> </i> Registrarse </a> 
			{% endif %}
			{# <a class="btn btn-large btn-success" href="#"><i class="icon-money"> </i> Comprar </a>  #}
		</div>
	</div>
</div>
{% endblock %}
