<!--(S) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!--> 
	<div class="row"> 
		<div class="span6" style="cursor: pointer" > <!-- data-toggle="modal" data-target="#alertDownloads"> -->
			 <a href="javascript:urlDowload();" 
				style="text-decoration: none">	<!-- to asegurate a gooddownload and putin comment when bot is broken -->
				<div class="well">
					<p><h2 class="letra"><i class="icon-download-alt"></i>Descargar</h2>Version 2.5 (18 mb)
				</div>
			</a> 
		</div>

		{% if user.is_authenticated %}

		<!--(S)by the moment-->
		<div id="btn-buy" class="span6" style="cursor: pointer" data-toggle="modal" data-target="#payModal" > 
			<!-- <a href="#" style="text-decoration: none"> -->		
			<div class="well" >
				<h2 class="letra"><i class="icon-money"></i> Comprar <img src="{{ STATIC_URL }}img/cards.png"></h2>
				S/. 15.00 ó $ 3.99 x 1 mes
			</div>
			<!-- </a > -->
		</div>
			
		{% else %}
		<div class="span6" style="cursor: pointer" data-toggle="modal" data-target="#myModal">
			<!-- <a href="#" style="text-decoration: none"> -->
			<div class="well" >
				<h2 class="letra"><i class="icon-money"></i> Comprar</h2>S/. 15.00 ó $ 3.99 x 1 mes
			</div>
			<!-- </a > -->
		</div>	
		
		{% endif %}
	</div>
<!--(E) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!--> 