{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}


<!-- <h2>Bots!</h2>
<p class="big grey">Dragon Bound!</p>
<hr> -->
<!-- Product & links starts -->
<!-- <div class="prod"> -->

<!-- Slider starts -->
<div class="row">
	<div class="span12">        
		<!-- Slider (Parallax Slider) -->
			<div id="da-slider" class="da-slider">

				<div class="da-slide">
					<h2><span>
						<a href="{% url 'administration:specificBot' 'perfecAimBot' %}" >
						Perfect Aimbot 
						</a>
					</span></h2>
					<p>Dragon Bound: Nuestro primer Bot de tiros perfectos para que puedas tener un mejor desempeño en Dragon Bound. Déscargalo gratis.
					</p>
					<a href="{% url 'administration:specificBot' 'perfecAimBot' %}" class="da-link">Saber más</a>
					<a href="{% url 'administration:specificBot' 'perfecAimBot' %}" >
						<div class="da-img"><img src="{{ STATIC_URL }}img/img_bot.png" alt="image03" /></div>
					</a>	
				</div>              
				
				<div class="da-slide">
					<h2><span>
						<a href="{% url 'administration:bots'  %}" >
						Quick RoomBot
						</a>
					</span></h2>
					<p>Dragon Bound: No esperaras más por una sala baja, y poder jugar con los mejores sera rapido muy facil. PROXIMANTE.
					</p>
					<a href="{% url 'administration:bots'  %}" class="da-link">Saber más</a>
					<a href="{% url 'administration:bots'  %}" >
						<div class="da-img"><img src="{{ STATIC_URL }}img/photos/dragonBoundRoom.png" alt="image03" /></div>
					</a>	
				</div>	

				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
	</div>
</div>

<!-- Slider Ends -->

<!-- Hero Unit -->

		<div class="row">
			<div class="span12">
				<h2>Bienvenido a Ninjax Solutions</h2>
				<p>
					Durante este tiempo hemos ido desarrollando diferentes aplicaciones para el uso diario. Nuestra objetivo es ofrecer soluciones al alcance de todos. 
				</p>        
				<hr />
			</div>  
		</div>

<!-- Hero Ends --> 

<!-- <hr/> -->
<!-- Features starts -->

<div class="features-four">
	<!-- <h3>Features</h3>
	<p>Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.</p>

	<br /> -->

	<div class="row">

		<div class="span6">
			<a href="#" >
				<div class="f-block b-blue" style="cursor: pointer">
					<i class="icon-group"></i>
					<h4>Nosotros</h4>
					<p>Somos un pequeño grupo que intenta desarrollar y resolver problemas en el mundo del software. Conócenos.						
					</p>
				</div>
			</a>
		</div>

		<div class="span6">
			<a href="#">
				<div class="f-block b-green" style="cursor: pointer">
					<i class="icon-gears"></i>
					<a href="#"><h4>¿Qué hacemos?</h4>
						<p>Somos desarrolladores que usan las mejores prácticas para desarrollar software y obtener los mejores resultados. Conoce nuestro trabajo.</p>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- Features ends -->
{% endblock %}