{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<div class="register">
	<div class="row">
		<div class="span4">
			<h2>Hola</h2>
			<p class="big grey">Tenemos varias promociones para ti.</p>
			<p>¿No tienes una cuenta? <a href="{% url 'administration:signup' %}">Regístrate ahora.</a></p>
		</div>
		<div class="span8">
			<div class="formy">
				<h5>Iniciar sesión</h5>
				<div class="form">
					<form  class="form-horizontal" method="post" name="formRegister"> {% csrf_token %} <!--if don't existe action reload in the same page-->
						{% if form.non_field_errors %}
						<div class="alert alert-block"> 
							{{ form.non_field_errors }}
						</div>

						{% endif %}
						<label class="control-label">Email</label>
						{% if form.email.errors %}
						<div class="control-group error">
						{% else %}
						<div class="control-group">
						{% endif %}
							<div class="controls">{{ form.email }}</div>
						</div>
						<label class="control-label">Contraseña</label>
						{% if form.password.errors %}
						<div class="control-group error">
						{% else %}
						<div class="control-group">
						{% endif %}
							<div class="controls">{{ form.password }}</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-success">Iniciar Sesión</button>
							<button type="reset" class="btn btn-primary">Limpiar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}