{% extends "base.html" %}

{% block title %}Profile{% endblock %} 
{% load epoch %}
{% block content %}



<style type="text/css">
	.nav-list a {
		font-size: 14px;
	}
	.toggle > h5{
		cursor: pointer;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$('.toggle > h5').click(function(){
			$(this).parent().find(".well").slideToggle("slow");
		})
	})
</script>
<h2>Mi Perfil</h2>
<div class="big grey">Toda la información principal</div>
<hr />
<div class="toggle">

{% if user.is_superuser %}
<h5><i class="icon-coffee"></i>Opciones SUPER USUARIO</h5>
<div class="row">
	<div class="span4">
		<div class="well">
			<h2> S/. {{ total_amount }} </h3>
			<p>INTERBANK</p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h2> S/. 0.00 </h3>
			<p>BCP</p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h2> S/. 0.00 </h3>
			<p>BBVA</p>
		</div>
	</div>
</div>
<a href="{% url 'administration:sendemailaimbot' %}" role="button" class="btn btn-primary">Enviar emails</a>
<a href="{% url 'administration:activatepremium' %}" role="button" class="btn btn-primary">Activar Premium</a>
<hr/>
<script type="text/javascript">
$(function(){
	var oTablePremiums = $('#table_premiums').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url 'administration:premiums' %}",
		"sServerMethod": "GET",
		"aoColumns": [
		{ "sWidth": "5%", "bSortable": false},
		{ "sWidth": "35%", "bSortable": false },
		{ "sWidth": "20%", "bSortable": false },
		{ "sWidth": "20%", "bSortable": false },
		{ "sWidth": "20%", "sClass": "center", "bSortable": false }, ],
	});
	var oTablePayments = $('#table_payments').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "{% url 'administration:payments' %}",
		"sServerMethod": "GET",
		"aoColumns": [
		{ "sWidth": "15%", "bSortable": false},
		{ "sWidth": "15%", "bSortable": false },
		{ "sWidth": "30%", "bSortable": false },
		{ "sWidth": "10%", "bSortable": false },
		{ "sWidth": "10%", "bSortable": false },
		{ "sWidth": "20%", "bSortable": false }, 
		],
	});
});
</script>
<div class="well">
	<h3>Compras</h3>
	
<table id="table_premiums" class="table table-striped table-bordered table-hover table-condensed">
	<thead>
		<tr>						
			<th>ID</th>
			<th>Usuario</th>
			<th>Tipo de Cuenta</th>
			<th>Fecha Activación</th>
			<th>Tiempo Licencia</th>
		</tr>
	</thead>
	<tbody> </tbody>
</table>
</div>
</div>
<hr />

<div class="well">
	<h3>Pagos</h3>
	
<table id="table_payments" class="table table-striped table-bordered table-hover table-condensed">
	<thead>
		<tr>						
			<th>Fecha</th>
			<th>Quien activo</th>
			<th>Usuario activado</th>
			<th>Monto</th>
			<th>Dscto.</th>
			<th>Lugar de Pago</th>
		</tr>		
	</thead>
	<tbody> </tbody>
</table>
</div>
{% endif %}

<div class="toggle">
<h5><i class="icon-user"></i> Mi cuenta</h5>
<div class="well">
	<h6> Email: {{user}}</h6>
	<a href="{% url 'administration:changepassword' %}" role="button" class="btn btn-primary" data-toggle="modal">Cambiar mi contraseña</a>
</div>
</div>
<hr />
<div class="toggle">
<h5><i class="icon-money"></i> Mis compras</h5>
{% if purchases %}
<div class="well">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th center width="20%">Nombre de la App</th>
				<th center width="20%">Tipo de Compra</th>
				<th width="25%">Comprada el </th>
				<th width="20%">Tiempo de licencia</th>
				<th width="15%">Cuentas</th>
			</tr>
		</thead>
		<tbody>				
				{% for purchase in purchases %}
				<tr>
					<td>{{purchase.5}}</td>
					{% if purchase.0 == 1%}
					<td>Premium</td>
					{% else %}
					<td>Free</td>
					{% endif %}
					<td>{{purchase.1|fromunix|date:"jS F Y"  }}</td>
					<td>{{purchase.2|time_in_days}}</td>
					<td>{{purchase.4}} / {% if purchase.0 == 1 %} 5 {% elif purchase.0 == 0 %} 1 {% else %} 3{% endif %}</td>
				</tr>
				{% endfor %}				
		</tbody>		
	</table>
	Total: {{ purchases|length }} <em>Compras</em> <br />
	<a class="btn btn-primary" href="{% url 'administration:specificBot' 'perfectAimBot'  %}#beginSpecifBot">Comprar un nuevo plan</a>
</div>
{% else %}
	<div class="well"><h6>No haz realizado ninguna compra :'(.</h6>  <a class="btn btn-primary" href="{% url 'administration:development' %}">Comprar.</a> </div>
{% endif %}
<hr />
</div>

{% endblock %}