{% extends "base.html" %}

{% block title %}Enviar Correo Masivo{% endblock %}
{% block content %}

<div class="well">
	<h5>Envíar Correo Masivo</h5>
	<form action="{% url 'administration:sendemailaimbot' %}" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
</div>

{% endblock %} 