<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form  id="formLogin" method="post" name="formRegister"> {% csrf_token %} <!--if don't existe action reload in the same page-->
		{{ form.non_field_errors }}              
		<div class="form_row"> 
			<label>Emaill</label>   
			{{ form.email }}
			{{ form.email.errors }}
		</div>   
		<div class="form_row"> 
			<label>Contraseña</label>                   
			{{ form.password }}
			{{ form.password.errors }}
		</div>  
	  <p><input type="submit" id="logued" class="form_submit" value="Logueate" /></p>
	</form>
</body>
</html>