
{% extends "base.html" %}

{% block title %}Registrate{% endblock %}

{% block content %}
<script type="text/javascript">
	 $(function(){ 
	 	$("#notCopyAndPaste").bind("paste",function(e) {  
                     e.preventDefault();  
                }); 
	 });

</script>
<div class="register">
	<div class="row">
		<div class="span4">
			<h2>Registráte Hoy</h2>
			<p class="big grey">Tenemos varias promociones para ti.</p>
			<p>Prometemos no spamearte :) </p>
			<p>¿Ya tienes una cuenta? <a href="{% url 'administration:login' %}">Iniciar sesión</a></p>
		</div>
		<div class="span8">
			<div class="formy">
				<h5>Registro</h5>
				<div class="form">
					<form class="form-horizontal" method="post"> {% csrf_token %}
						{% if form.non_field_errors %}
						<span class="tidate b-red">
							{{ form.non_field_errors }}
						</span>
						<br>
						{% endif %}
						<div class="control-group"> 
							<label class="control-label">Email</label>
							<div class="controls">{{ form.email }}</div>
							{% if form.email.errors %}
							<span class="tidate b-red">{{ form.email.errors }}</span>
							{% endif %}
						</div>
						<div class="control-group"> 
							<label class="control-label">Confirmar Email</label>
							<div class="controls" id="notCopyAndPaste" >{{ form.emailConfirm }}</div>
							{% if form.email.errors %}
							<span class="tidate b-red">{{ form.emailConfirm.errors }}</span>
							{% endif %}
						</div>
						<div class="control-group"> 
							<div class="controls">{{ form.captcha }}</div>
							<!-- {% if form.email.errors %} -->
							<span >{{ form.captcha.errors }}</span>
							<!-- {% endif %} -->
						</div>
						<div class="tidate b-purple"> 
						    <!-- Un correo con la CONTRASEÑA de tu cuenta sera enviado a tu email, tu USUARIO sera tu mismo email. -->
						    <!-- <p>Your PASSWORD will be sent to your email.</p> -->
						    <p>Tu CONTRASEÑA será enviada a tu correo electrónico.</p>
				        </div>

						<div class="form-actions">
							<button type="submit" class="btn btn-success">Registrar</button>
							<button type="reset" class="btn btn-primary">Limpiar</button>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
