{% extends "development.html" %} 
{% block  hierarchySpecific %} 
	<i class="icon-double-angle-right"></i> 
	<a href="#">{{ subMenuState }} </a>
{% endblock%}  

{% block contentSpecificBots %}
<script type="text/javascript">
$(function(){
	/*******************(S)funcitons to part of payment wiht deposit in ban********************/
	$("#withoutCard").hide();
	$("#accepRediPayPal").prop( "disabled", true );
	
	$("#buttonDeposit").click(function()
	{				
		$("#payModal").modal("hide");
		$("#withoutCard").modal("show");
	});

	$("#checkConditions").click(function()
	{		
		if ($("#checkConditions").prop( "checked" ) )
		{
			$("#input_numvoucher").prop( "disabled", false );
			$("#btn_sendvoucher").prop( "disabled", false );
			// $("#accepRediPayPal").prop( "disabled", false );
		}
		else
		{	
			$("#input_numvoucher").prop( "disabled", true );
			$("#btn_sendvoucher").prop( "disabled", true );
			$("#accepRediPayPal").prop( "disabled", true );
		}
	});	

	$("#checkConditionsPayPal").click(function()
	{
		if ($("#checkConditionsPayPal").prop( "checked" ) )
		{
			$("#accepRediPayPal").prop( "disabled", false );
		}
		else
		{	
			$("#accepRediPayPal").prop( "disabled", true );
		}
	});	

	$("#accepRediPayPal").click(function()
	{
		$( "#messageToRedicPaypal" ).html("Estas siendo redireccionado a Paypal para pagar con tu tarjeta...");
	});

	$("#btn_sendvoucher").click(function()
	{		
		var numvoucher = $("#input_numvoucher").val();
		var numvoucherAll = $("#input_numvoucher").val();
		numvoucher = numvoucher.replace("-", "");

		if ($.isNumeric(numvoucher) == false || numvoucher.length > 6) {
			alert ("Número de transacción invalida. Por favor vuelve a intentarlo.");
			return false;
		}		
		else 
		{
			$("#withoutCard").modal('hide');		
			$("#sureToSend").modal('show');	
			$( "#numVoucher" ).html("");
			$( "#numVoucher" ).html( numvoucherAll);
			$("#loading").hide();
		}
	});

	$("#backToWriteAccount").click(function()
	{
		$("#sureToSend").modal('hide');
		$("#withoutCard").modal('show');		
	});

	function appearSucces() // when the message with num of voucher was sent
	{
		$("#sureToSend").modal('hide');
		$("#adviseAboutTime").modal('show');	
		$( "#loading" ).html("");	
		$("#input_numvoucher").val("");	
		$("#checkConditions").prop( "checked",false );
		$("#deposit").hide("slow",function()
		{
			$("#payModal").css({"height":"60%"});
			// $("#newPartToDeposit").css({"height":"100%"})				
		});
	}


	$("#buttonPaypal").click(function(){
		$("#payModal").modal("hide");
		$("#termnsAndConditions").modal("show");
	});

	$("#accepRediPayPal").click(function(){
		$("#form-paypal").submit();
	});

	function loadStart() 
	{
		console.log("holaaaa");
  	$( "#loading" ).html("Enviando mensaje, espere...");
	}
	function loadStop() 
	{
  	$('#loading').html("");
	}

	$("#accepSend").click(function(){ //function to sent email to admins of ninjax with new way to pay
			
		// $( "#loading" ).html("<img src='{{ STATIC_URL }}img/loader.gif'>");
		// $( "#loading" ).show();
		// $( "#loading" ).html("Enviando mensaje, espere...");

		$.ajax("{% url 'administration:sendvoucher' %}",{
			type: 'get',
			dataType: 'json',
			beforeSend: loadStart,
			complete: loadStop,
			data: {numvoucher: $("#input_numvoucher").val(), username: $("#input_username").val() },
			success: function (res) {
				if (res.error) {
					alert("Error en la peticion " + error);
					return;
				}
				appearSucces();
			},
			async: false,
		});
	});
	/*******************(E)funcitons to part of payment wiht deposit in ban********************/

	$(".well").css(
			{"backgroundColor":"rgb(21, 112, 166)","color":"rgb(255,255,255)"}
		);		 								
		$(".letra").css({"color":"white"});

	$(".well").mouseover(function()
	{
		// console.log("entra aqui");
		$(this).css(
			{"backgroundColor":"rgb(17, 96, 143)","color":"rgb(255, 255,255)"}
		);		 								
		$(".letra").css({"color":"white"});

	});

	$(".well").mouseleave(function()
	{
		// console.log("entra aqui");
		$(this).css(
			{"backgroundColor":"rgb(21, 112, 166)","color":"rgb(255, 255,255)"}
		);		 		
		$(".letra").css({"color":"white"});						
	});

	/*********************(S)ALERTTTT***************************/
	// $("#alertDownloads").click(function()
	// {
	// 	$("#alertDownloads").modal(slow);
	// });
	/*********************(E)ALERTTTT***************************/

	
});
</script>

<!-- !!! HERE BEGIN THE PART OF THE DIFFERENTS MODALS IN THE WEB!!! -->
<!-- !!! HERE BEGIN THE PART OF THE DIFFERENTS MODALS IN THE WEB!!! -->
<!-- !!! HERE BEGIN THE PART OF THE DIFFERENTS MODALS IN THE WEB!!! -->

<!--(S)-modal ALERTTTTT-->

		<div id="alertDownloads" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">AVISO : </h3>
			</div>
			<div class="modal-body">
				<div class="span6">

				<!-- <a href="#" style="text-decoration: none"> -->
			        <div class="" style="cursor: pointer">
			          <div class="service">
			            <div class="b-red serv-block" style="cursor: pointer">
			              <i class="icon-warning-sign"></i>
			              <h3>Disculpa, en pocas horas las descargas estaran habilitadas</p>
			              </h3>
			            </div>
			              	<p>Si estas registrado, podremos avisarte a tu correo sobre las novedades 
			              		de este bot.</p>				            
			            		Revisas nuestros videos: 
			              	<p><a class="b-green serv-block" target="_blank" href="http://www.youtube.com/watch?v=Pc1tbOKshEc">http://www.youtube.com/watch?v=189tknCZ3KQ</a>
			          </div>
			        </div>
		        <!-- </a> -->
		        
		      </div>
		      <div class="clearfix"></div>
					 
			</div>
			
		</div>
	<!--(E)modal ALERTTTTT-->	



<!--(S) is a modal to the user can be accept if the number os their voucher is correct -->
<div id="sureToSend" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">¿Estás seguro?</h3>
  </div>

  <div class="well c-soon">
	  <div class="modal-body">
	    <p class="soon-med"> Verifica si es tu número de voucher:   </p> <p class="soon-big" id="numVoucher"></p>
	  </div>
	  <div id="loading" > </div>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" id="backToWriteAccount">Volver a editar</button>
    <button class="btn btn-primary" id="accepSend">Enviar</button>
  </div>
</div>
<!--(E) is a modal to the user can be accept if the number os their voucher is correct -->	

<!--(S) is a modal before to redirect to paypal -->
<div id="termnsAndConditions" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Terminos y Condiciones</h3>
  </div>

  <div class="well c-soon ">
	  <div class="modal-body">
	  	
	    <label class="soon-med checkbox">
	    	<a href="{% url 'administration:conditions' %}" 			    	
	    	rel="license" onclick="window.open(this.href, 'mywin',
			'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
	    		<p> * Lea aquí los terminos y condiciones </p> 
	    	</a >
	    	<input type="checkbox" id="checkConditionsPayPal"> 
	    	Acepto los Terminos y condiciones por la compra.
	    	<!-- <div id="sepa" style="margin-top:15px;"></div> -->
	    	<p id="messageToRedicPaypal" class="soon-med b-green" ></p>
		</label>
		
	  </div>	  
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" >No acepto</button>
    <button class="btn btn-primary" id="accepRediPayPal">Acepto</button>
     
  </div>
</div>
<!--(S) is a modal before to redirect to paypal -->

<!--(S) the transaction succesful -->
<div id="adviseAboutTime" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">LISTO!</h3>
  </div>
  <div class="well c-soon">
	  <div class="modal-body">
	    <p class="soon-med">Estamos verificando tu pago.</p> 
	    <p class="soon-med">Te enviaremos un correo de confirmación de activación PREMIUM dentro de los prox 30 min. </p> 
	  </div>
  </div>  
  <div class="modal-footer">    
    <button class="btn btn-primary" data-dismiss="modal" >Okey</button>
  </div>
</div>
<!--(E) the transaction succesful -->

<!--(S)-modal to PAYMENTS(COMPRAR)without or with CREDIT CARD - buttons-->
	<div id="payModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Formas de Pago:</h3>
		</div>
		<div class="modal-body" id="newPartToDeposit">
			<div class="span6">							

			<!-- <a href="{% url 'administration:login' %}" style="text-decoration: none"> -->
				<div class="col-l" style="cursor: pointer" id="buttonDeposit">
					<div class="service">
						<div class="b-blue serv-block" style="cursor: pointer">
							<i class="icon-check-sign"></i>
							<h3>Sin Tarjeta</h3>
							SOLO VALIDO PARA PERÚ - S/. 15.00 soles x mes
						</div>
					</div>
				</div>
			<!-- </a> -->

			<!-- <a href="{% url 'administration:signup' %}" style="text-decoration: none"> -->
				<div class="col-r " style="cursor: pointer" id="buttonPaypal" >
					<div class="service" > 
						<div class="b-green serv-block" style="cursor: pointer">
							<i class="icon-credit-card"></i>
							<h3>Con Tarjeta</h3>
							$ 3.99 x mes. Valido para cualquier pais incluido Perú.
						</div>
					<!-- <a href="#">Take a look </a> <i class="icon-double-angle-right"></i>-->
					</div>
				</div>
			<!-- </a> -->			

			</div>
			<div class="clearfix"></div>					
		</div>			
	</div>
<!--(E)modal modal to PAYMENTS(COMPRAR)without or with CREDIT CARD - buttons-->

<!--(S)modal about specific data to sail with deposite -->
<div id="withoutCard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Llena los campos:</h3>
	</div>
	<div class="modal-body" id="partBlueToFillAndRead">
		<div class="row" >
			<div class="span6 ">
				<div class="home-product">
					<!-- <div class="b-blue serv-block" > -->								

						<h3>Sin Tarjeta (Deposito):</h3>
						<div id="numToDeposit">Cuenta INTERBANK Nro : 300-3058988114</div>
						<p align="justify" >
							Realiza tu pago a travéz de INTERBANK. Realizado el depósito ingresa el NÚM DE OPERACIÓN del
							voucher en el campo de abajo para proceder a activar tu cuenta PREMIUM, es necesario que envies una foto de tu voucher a nuestro correo ninjaxcompany@gmail.com .
							De 7:00 am - 10:00 pm, de lo contrario sera activada en la primera hora habil del día.
						</p>
						<div >
						<!-- <div class="col-l">	 -->
						<hr/>	
							<div id="titleVoucher">Ingresa el Número Operación de tu Voucher: </div>
						<!-- </div>
						<div class="col-r"> -->									
							<div id="sepa" style="margin-top:20px;"></div>
							<input id="input_username" type="hidden" value="{{ user }}">
							<label class="checkbox">
						    	<input type="checkbox" id="checkConditions"> 
						    	Acepto los terminos y condiciones. <a href="{% url 'administration:conditions' %}" 			    	
						    	rel="license" onclick="window.open(this.href, 'mywin',
								'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
						    	 * Lea aquí los Terminos</a >
							</label>

							<div id="sepa" style="margin-top:15px;"></div>

							<div class="input-append">							
								<input type="text" class="input-medium search-query" id="input_numvoucher" name="numvoucher" placeholder="Nro de voucher" disabled="disabled"> 
								<button id="btn_sendvoucher" class="btn btn-success" disabled="disabled">
									Enviar
								</button>
							</div>										
							
						<!-- </div> -->
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--(E)modal about specific data to sail with deposite -->

<!--(S)-modal TO START SESSION IF SOMEONE IS NOT LOGUED-->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Para poder comprar ...</h3>
			</div>
			<div class="modal-body">
				<div class="span6">
					<a href="{% url 'administration:login' %}" style="text-decoration: none">
						<div class="col-l" style="cursor: pointer">
							<div class="service">
								<div class="b-green serv-block" style="cursor: pointer">
									<i class="icon-signin"></i>
									<h3>Inicia sesión</h3>
								</div>
							</div>
						</div>
					</a>

				<a href="{% url 'administration:signup' %}" style="text-decoration: none">
					<div class="col-r" >
						<div class="service" > 
						<div class="b-blue serv-block" style="cursor: pointer">
							<i class="icon-plus"></i>
							<h3>Regístrate</h3>
						</div>
						<!-- <a href="#">Take a look </a> <i class="icon-double-angle-right"></i>-->
						</div>
					</div>
					</a>

				</div>
				<div class="clearfix"></div>
					 
			</div>
				
		</div>
<!--(E)-modal TO START SESSION IF SOMEONE IS NOT LOGUED -->

<!-- (S) - PART FROM PAYPAL!! 2 FORMS TO TEST AND WORKS LIKE SUPERUSER O NORMAL USER -->
	<!--(S)testing with sandbox-->
	{% if user.is_superuser %}
	<form id="form-paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="custom" value="{{ numUser }}">
	<input type="hidden" name="hosted_button_id" value="XPMP3BUFJBHWN">
	<!--<input type="image" src="https://www.sandbox.paypal.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
	<img alt="" border="0" src="https://www.sandbox.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1">-->
	</form>

	<!--(E)testing with sandbox-->
	{% else %}

	<!--(S)payment with real paypal -->
	<form id="form-paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="custom" value="{{ numUser }}">
	<input type="hidden" name="hosted_button_id" value="DF7VC422CR7UE">
	<!-- <input type="hidden" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
	<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"> -->
	</form>
	{% endif %}
	<!--(E)payModalent with real paypal -->

<!-- (E) - PART FROM PAYPAL!! 2 FORMS TO TEST AND WORKS LIKE SUPERUSER O NORMAL USER -->		




<!-- !!! THAT WAS MODALS TO HAMDLE THAT WAYS TO PAY IN THE WEB,SINCE HERE IS THE BEGIN OF THE PAGE -->
<!-- !!! THAT WAS MODALS TO HAMDLE THAT WAYS TO PAY IN THE WEB,SINCE HERE IS THE BEGIN OF THE PAGE -->
<!-- !!! THAT WAS MODALS TO HAMDLE THAT WAYS TO PAY IN THE WEB,SINCE HERE IS THE BEGIN OF THE PAGE -->




<div class="container">	
	
	<!--(S)- (BAR) PART TO VIDEOS AND IMAGES ABOUT THE BOTS-->
	<div class="row">

		<div class="span12">
		<!-- Slider (Parallax Slider) -->
			<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<div class="da-blue">
				<h2><span>¿Comó funciona?</span></h2>
				<p align="justify" >Videotutorial donde tenemos las indicaciones de como es que el bot realmente funciona desde dentro, y una prueba hecha por los desarrolladores!.</p>
				
				<iframe class="da-vid" src="//www.youtube.com/embed/o5GPc0UOMyU" frameborder="0" ></iframe>
				<!-- </div> -->
				</div>
			</div>

			<div class="da-slide">
				<div class="da-blue">
				<h2><span>Jugabilidad</span></h2>
				<p align="justify" >Segundo video de una prueba real, como "Perfect AimBot" trabaja en el campo de batalla, enseñando la maniobralidad, y funcionalidad del bot(videotutorial).</p>
				
				<iframe class="da-vid" src="//www.youtube.com/embed/ZN-K8CKMa5o" frameborder="0" ></iframe>
				<!-- </div> -->
				</div>
			</div>
						
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
			</div>
		</div>
	</div>	
	<!--(E)- (BAR) PART TO VIDEOS AND IMAGES ABOUT THE BOTS-->

	<!--(S) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!--> 
	{% include "frameToDownAndPay.html" %}
	<!--(E) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!--> 

	<!--(S) - (BAR)OF CHARACTERISTICS OF THE BOT !!!--> 
	<hr />
	
	<p class="big grey">SABER MÁS:</p>
	<div class="services">
		<div class="row">
			<div class="span4">
			<h5 align="center" >General</h5>
			<p align="justify" >"Perfect AimBot " que les ayudara a no fallar en sus tiros de DragonBound, facilitandoles el ganar partidas y aumentando de nivel más rapido con un objetivo perfecto. </p>
			<p align="justify">Descarga AHORA y podras disfrutar de 24 horas de Perfect AimBot FREE(Gratis) luego pasado tu tiempo FREE 
			   puedes COMPRAR la activación PREMIUM para que tu cuenta se actualize con un tiempo de 1 mes, para que lo disfrutes. 
			</p>
			<!-- <hr /> -->
			</div>
			<div class="span4">
			<h5 align="center" >Caracteristicas Version 2.5</h5>			
			<ul>
				<li align="justify">- Todos los moviles seleccionables( no Dragon, Unicornio, Zorro)</li>
				<li align="justify">- Activación del dibujado  de la trayectoria con la tecla "D",segun la barra de potencia.</li>
				<li align="justify">- (NUEVO) Numeración en el nombre de movil (Al oprimir la tecla con ese numero, Perfect AimBot autoDibujara la trayectoria correcta).</li>
			</ul>
			
			<!-- <hr /> -->
			</div>

			<div class="span4">
				<h5 align="center" >Precio</h5>
				<div class="well">
					<p><h2 class="letra">S/. 15.00 </h2>
					x 1 mes (Solo para Perú, sin Tarjeta)</p>
				</div>
				<div class="well">
					<p><h2 class="letra">$ 3.99</h2>
					x 1 mes(con Tarjeta)</p>
				</div>
			<!-- <hr /> -->
			</div> 
		
		</div>
	</div>	

	<hr/>
<!--(E) - (BAR)OF CHARACTERISTICS OF THE BOT !!!--> 

<!--(S) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!--> 
	{% include "frameToDownAndPay.html" %}
<!--(E) - (BAR)PART OF BOTTONS TO DOWNLOAD AND PAY !!!-->

</div>

{% endblock%}  