body{
font-family:Arial, Helvetica, sans-serif;
padding:0;
font-size:12px;
margin:0 auto;
color:#545554;
background:url(images/bg.gif) repeat top left #FFFFFF;
}
.clear{clear:both;}
p{
padding:5px 0 5px 0;
margin:0px;
line-height:18px;
text-align:left;
}
a{
color:#de462a;
text-decoration:underline;
}
h1{font-size:36px;font-weight:bold;margin:0px;padding:10px 0 10px 0px;color:#343434;}
h2{font-size:22px;color:#343434;padding:10px 0 10px 0;margin:0px 0 20px 0;font-weight:normal;}
h3{font-size:20px; color:#343434; padding:0; margin:0px; font-weight:normal;}
#main_container{
width:960px;
height:auto;
padding:0px 0 0px 0; margin:auto;
}
.header{ width:960px; height:120px; /*border: 1px black solid;*/ background: #4c5966; }/* my color*/
.logo{
/*border: 1px black solid;*/
/*float:left;
padding:0px 0 0 35px;
font-size:50px;
margin:20px 0 0 0;
background:url(images/ninjax3.png) no-repeat left;
background-position:0px 22px;*/
float:left;
/*padding:0% 10% 0% 10%;*/
margin-left: 4%;
margin-top: 1%;
/*margin-right: 10px;*/
/*margin:12px 0 0 0;*/
width: 160px;
height: 91px;
background:url(images/logo.png) no-repeat left;
/*border: 1px red solid;*/
}
.logo a{ color:#454546; text-decoration:none; letter-spacing:-3px;} 
.slogan{ float:left; margin:57px 0 0 18px; font-size:25px; color: white}
.header_socials{
padding:50px 0 0 0;
float:right;
margin:0;
/*border: 1px black solid;*/
}
.header_socials a{
float:left; margin:0 3px 0 3px;
}
/*----------------menu tab----------------------*/
.menu {font-size:14px; padding-left:10px;float:left; width:950px;/*border: 1px red solid;*/ background: #4c5966; }
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:35px; color: white}
/* style the sub-level lists */
.menu ul ul {width: auto; }
/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:35px;line-height:35px;}
/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em;}
/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:14px;text-decoration:none;color:white;padding:0 3px 0 3px; margin:0 30px 0 0;}
.menu a.current{ background-color:#FFFFFF;}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;font-size:13px; text-align:left; color:#545554;width:200px;height:100%;line-height:1em; padding:15px 0 15px 15px;
border-bottom:1px #ebebeb solid;background-color:#fff;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; width:12em;}
/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}
.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:#fff;}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:#fff;}
/* style the level hovers */
/* first */
.menu a:hover {color:#00C3CA;}
.menu :hover > a {color:#00C3CA;}
/* second */
.menu ul ul a:hover{background-color:#00C3CA; color:#FFFFFF;}
.menu ul ul :hover > a {background-color:#00C3CA;}
/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:35px;left:0;width:14em; border:none; z-index:9999; background-color:#FFFFFF;}
/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}
/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}
/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(images/trans.gif);}

/*--------------------------featured slider content------------------------*/
.sliderwrapper{
width:960px; /*width of featured content slider*/
height:292px;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
clear:both;
padding:30px 0 0 0;
}
.slider_content{
margin:0;
float:left;
width:960px;
height:292px;
}
#featured{ 
width:960px; 
padding:0; 
position:relative;  
height:292px; 
}
#featured ul.ui-tabs-nav{
float:right;
list-style:none; 
padding:20px 0 0 0; margin:0; 
width:330px;
background:url(images/slider_details_bg.jpg) no-repeat center;
height:272px; 
}
#featured ul.ui-tabs-nav li{ 
padding:0px;  
font-size:12px; 
color:#fff; 
}
#featured li.ui-tabs-nav-item a{ 
display:block;
width:305px;
height:45px; 
color:#fff;
background:url(images/slider_tab.png) no-repeat center;
line-height:45px; text-decoration:none; font-weight:bold; padding:0 0 0 19px; margin:0 0 7px 0;
float:left;
position:relative; left:-10px; z-index:999; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
background:url(images/slider_tab_hover.png) no-repeat center; color:#fff; 
}
#featured li.ui-tabs-selected{ 
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
background:url(images/slider_tab_hover.png) no-repeat center; color:#fff;
}
#featured .ui-tabs-panel{ 
/*border: 1px black solid;*/
width:430px; height:292px;  /*imagen grande*/
position:relative;
float:left;
}
#featured .ui-tabs-panel .info{ 
position:absolute; 
bottom:20px; left:20px;
width:290px; 
height:auto; 
background: url('images/transparent-bg.png'); 
}
#featured .info p{
padding:15px; margin:0px; color:#FFFFFF; font-size:11px; line-height:18px;
}
#featured .ui-tabs-hide{ 
display:none; 
}
.center_content{
width:960px; clear:both; padding:35px 0 0 0;
}
.center_content_pages{
width:960px; clear:both; padding:15px 0 0 0;
}
.leftbox{
width:290px;
float:left;
margin:0 45px 0 0;
}
.leftbox_right{
width:290px;
float:right;
margin:0 0 0 0;
}
a.more{
background:url(images/more_bullet.gif) no-repeat right; padding:0 25px 0 0; line-height:30px; text-decoration:none; float:right; margin:10px 0 0 0;
}
.news_box{
width:290px;
padding:0 0 20px 0;
float:left; clear:both;
}
.date{
width:71px; height:30px; background:url(images/date.gif) no-repeat center; float:left; text-align:center; color:#fff; font-size:11px; line-height:27px;
}
.news_box h3{font-size:14px; padding:0 0 0px 15px; margin:0px; float:left;}
.news_box h3 a{ text-decoration:none;}
.news_box p{width:205px; float:right;}
.testimonial{
background:url(images/quotes_top.jpg) no-repeat top left;
padding:0 0 0 20px;
margin:0 0 30px 0;
}
.testimonial_quotes{
background:url(images/quotes_bottom.jpg) no-repeat bottom right;
padding:0 20px 0 0;
font-style:italic;
}
.pages_banner{ width:930px; height:80px; background:url(images/pages_banner.gif) no-repeat center; margin:0 0 20px 0; line-height:80px; font-size:24px; padding:0 0 0 30px;}
.left_content{
width:280px;
float:left;
}
.right_content{
width:600px;
float:right;
}
ul.left_menu{
padding:0px 0 40px 0; margin:0px; list-style:none;
}
ul.left_menu li{
padding:10px 0 10px 0; margin:0px;
}
ul.left_menu li ul{
padding:15px 0 5px 30px; margin:0px; list-style:none;
}
ul.left_menu li ul li{
border:none;
}
ul.left_menu li a{
background:url(images/list_bullet.gif) no-repeat left; color:#545554; text-decoration:none; padding:0 0 0 15px;
}
ul.left_menu li a:hover{
color:#de462a;
}
img.pages_pic{ border:4px #fff solid; margin:0 0 20px 0;}

/*-------------------------------------form-------------------------------------*/
.form{width:500px;float:left;clear:both;padding:0px 0 40px 20px;}
.form_row{width:500px;float:left;clear:both;margin:20px 0 0 0;}
.form_row label{width:120px;float:left;padding:5px 20px 0px 0;font-size:14px; color:#4c5966; text-align:right; text-transform:lowercase;}
.form_input{width:320px;height:35px;float:left;padding:0px 0px 0 10px; background-color:#E7E5DE; border:none; color:#4c5966;}
.form_textarea{width:320px;height:70px;float:left;padding:10px 0px 30px 10px; background-color:#E7E5DE; border:none; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
input.form_submit{float:right; clear:both; margin:20px 30px 0 0px; width:149px; height:34px; text-align:center; color:#fff; font-size:16px; background: #666666; border:none; font-weight:bold; padding:0 0 0 0px; cursor:pointer;}
/*-----------footer---------*/
.footer{
width:950px;
clear:both;
text-align:left;
padding:12px 0 12px 10px;
border-top:1px #d5d5d5 solid;
margin:50px 0 0 0;
}
.copyrights{
float:left;
}
.footer_right{
float:right;
}
.footer_right a{
text-decoration:none; padding:0 10px 0 10px; color:#545554;
}
.footer_right a:hover{
color:#de462a;
}

/******************(S)myCss****************************/
#imageBlog{margin-left: 25%;
    margin-right: auto;}
.errorlist{color: red}
#nameBanner{float:left;}
#loguer{float:right; font-size:20px;  color:#FF4500; font-weight:bold; padding-right: 20px}
	#logOutButton{font-size:16px; font-weight:bold;}
#form_row{width:510px;float:left;clear:both;margin:10px 0 0 0;}
	#form_row label{width:140px;float:left;padding:5px 20px 0px 0;font-size:15px; color:#4c5966; text-align:right; }
	#userDragon{width:210px;height:35px;float:left;padding:0px 0px 0 10px; background-color:#E7E5DE; border:none; color:#4c5966;}	
	#sendUserDragon{ width:90px; height:34px;float:right;  margin:0px 0px 0 0px; text-align:center; 
color:#fff; font-size:16px; background: #666666; border:none; font-weight:bold; padding:0 0 0 0px; cursor:pointer;}
#buttonDownload{width:500px; height:50px; border-radius:25px; box-shadow: 5px 5px 5px #888888;
				 background-color: #47A1EB;border:none;color: white}	
.ui-dialog-content .ui-dialog-content{
	width: 500px;	
	height: 287px;
}
#buttonsRegAlog{float:right; padding-right:0px }
.ImageOfBot{border:dashed 9px #1c4d6e;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
border-radius: 9px;}
#imageLeft{float: left;}
#image1{background:url(images/dragonBoundRoom.png) no-repeat left;width: 250px; height: 180px;float:left;
		cursor:pointer}
#imageRight{float: right;}
#image2{background:url(images/angulodragonbound.png) no-repeat left;width: 250px; height: 180px;float: right;
		cursor:pointer}
.botsShow{width:200px; height: 30px;padding-top: 15px;
		border: 9px #1c4d6e;
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;}
.afterImage{padding-right: auto; padding-left:auto; padding-top: auto; padding-bottom: auto; }
#create-useLink{width:200px; height: 50px;margin-bottom: 30px;/* margin-left: auto; margin-right: auto;*/}		
#buttonLoguinLink{width:200px; height: 50px;/* margin-left: auto; margin-right: auto;*/}		
/*.center_content_pages{background:url(images/dragonRoom_back_form.jpeg)}*/
/******************(E)myCss****************************/