{% extends "base.html" %}

{% block title %}Profile{% endblock %} 
{% load epoch %}
{% block content %}
<div class="row">
	<div class="span12">
		<div class="well c-soon">
			<p class="soon-big"><i class="icon-thumbs-up"></i></p>
			<p class="soon-big">¡Gracias!</p>
			<p class="soon-med">Tu registro se ha realizado con éxito.</p>
			<p class="soon-small">Un email ha sido enviado con tu contraseña.</p>
			<p class="soon-med"><a href="{% url 'administration:login' %}">Ingresa con tu cuenta ahora.</a></p>
		</div>
	</div>
</div>
{% endblock %} 