{% extends "base.html" %}

{% block title %}Profile{% endblock %} 
{% load epoch %}
{% block content %}

{% if purchases %}

	<h5>Usuario: {{suser.email}}</h5> <br />
	<h6> Total: {{ purchases|length }} <em>Compras</em> <br /> </h6>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th center width="20%">Nombre de la App</th>
				<th center width="20%">Tipo de Compra</th>
				<th width="25%">Comprada el </th>
				<th width="20%">Tiempo de licencia</th>
				<th width="15%">Cuentas</th>
			</tr>
		</thead>
		<tbody>
				{% for purchase in purchases %}
				<tr>
					<td>{{purchase.5}}</td>
					{% if purchase.0 == 1%}
					<td>Premium</td>
					{% else %}
					<td>Free</td>
					{% endif %}
					<td>{{purchase.1|fromunix|date:"jS F Y"  }}</td>
					<td>{{purchase.2|time_in_days}}</td>
					<td>{{purchase.4}} / {% if purchase.0 == 1 %} 5 {% elif purchase.0 == 0 %} 1 {% else %} 3{% endif %}</td>
				</tr>
				{% endfor %}
		</tbody>
	</table>
<a href="{% url 'administration:activatepremium' %}" role="button" class="btn btn-primary">Activar Premium</a>
{% else %}
	<div class="well"><h6>El usuario no ha realizado ninunga compra</h6>
{% endif %}
<hr /

{% endblock %}